@model TODOApplication.Models.TaskTodo
@{
    ViewBag.Title = Model.Title;
}
<h2>Task @Model.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Identifier</dt>
        <dd>@Model.Id</dd>
    </dl>
</div>

